* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button[data-start],
button[data-stop] {
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  background-color: rgb(71, 255, 255);
  border-radius: 5px;

  text-transform: uppercase;

  transition: scale 250ms ease-in-out;
}

button[data-start]:focus,
button[data-start]:hover,
button[data-stop]:focus,
button[data-stop]:hover {
  scale: 1.1;
}

button[data-start] {
  margin-right: 20px;
}

.timer {
  display: flex;

  gap: 25px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field .value {
  font-size: 36px;
}

.field .label {
  text-transform: uppercase;
}

/* CountDown timer */

.flatpickr-input {
  margin-right: 10px;
  height: 40px;
  font-size: 18px;
}
